@import '~@angular/material/_theming';
$config: mat-typography-config();

$some-other-color: mat-palette($mat-red, 700, 100, 800);

/* Grey + Blurred Background Image */
.parallax-bg
{
  position: relative;
  z-index:1;
  width: 100%; 
  /*min-height: calc(100vh);*/
  /* parallax height is set by content.component.ts */

  background-image: url("/assets/imgs/parallax.jpg");
  background-attachment:fixed;                     /* parallax effect */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  
  /* Pull the background 70px higher to the same as .parallax's */
}

/* Put this on top of the blurred background layer */
.parallax-caption
{
  /* Place above z-index 99 */
  position:absolute;
  top:calc(50vh - 32px - 154px);     /* toolbar_height/2 - fastText_height/2 */
  left: 0;
  width:100%;
  text-align: center;
  z-index:2;
  color: white;
}

.parallax-caption .top-caption {
  text-align: center;
  margin-bottom: 0;
  font-size:mat-font-size($config, display-2);
  font-style:italic;
}

.parallax-caption .bottom-caption {
  text-align: center;
  margin-top: 0;
  font-size:mat-font-size($config, display-4);
  font-style:bold;
}

/* Left Center Right columning */

/* Create four equal columns that sits next to each other */
.row {
  display: flex;
  flex-direction: row;
  
  justify-content: center;
}

/* Content underneath parallax */
/*
.left-column {
  flex:25%;
}

.content-column
{
  display:flex;
  flex-direction:column;
  flex:50%;
  height:100%;
}

.right-column {
  flex:25%;
}
*/

/* middle */
.content-column
{
  width:960px;
  height:100%;
}

/* Section: About */
/* Column Container */

/* Create four equal columns that sits next to each other */

.column-25 {
  flex-grow: 1;
  max-width: 25%;
  align-items: center; 
}

.row-25 {
  display: flex;
  flex-direction: row; 

  align-items: center; 
  text-align: center;
}

.row-25 > mat-icon {
  padding-right:4px;
  margin-right:8px;
}

.row-25 > h3 {
  margin: 0px;
}

/* Section: What I've accomplished */

.column-left {
  display:flex;
  flex-grow: 1;
  /* flex: 1 1 1px; */
  padding:12px 12px 12px 12px;
}

.column-right {
  display:flex;
  flex-grow: 1;
  flex-direction: column;
}


/* General */
.section
{
  padding: 24px 0px 24px 0px;
}

.section > .mat-title
{
  color: mat-color($some-other-color);
}

.section > .mat-headline
{
  color: mat-color($some-other-color);
}

.section > .mat-display-1
{
  color: mat-color($some-other-color);
}

/* Section: Skills */
.section > mat-list {
  display: inline-block;
}

/* List Item Height */
.mat-list .mat-list-item {
  height: 30px; /* default is 72px */
}


/* ---------------------- */
/* CSS for MOBILE VERSION */
/* ---------------------- */


/* If the browser window is smaller than 699px */
@media only screen and (max-width:600px)
{
  .parallax-bg {
    /*top: 56px; */
    /*min-height: calc(100vh - 56px); */
  }

  .parallax-caption {
    top:calc(50vh - 90px);
  }

  .parallax-caption .top-caption {
    text-align: center;
    margin-bottom: 0;
    font-size:mat-font-size($config, display-1);
    font-style:italic;
  }

  .parallax-caption .bottom-caption {
    text-align: center;
    margin-top: 0;
    font-size:mat-font-size($config, display-3);
    font-style:bold;
  }
}