<div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="flex-start">

  <div fxLayout="row">
    <div class="tab" fxLayout="column">
      <div fxLayout="row" > 
        <button mat-button (click)="openTab($event, 'tab0')" id="defaultOpen"> Bank of America </button>
        <span fxFlex="none" ></span>
      </div>
      <div fxLayout="row" >
        <button mat-button (click)="openTab($event, 'tab1')" > Bank of America </button>
        <span fxFlex="none" ></span>
      </div>
      <div fxLayout="row" >
        <button mat-button (click)="openTab($event, 'tab2')" > HeyKorean </button>
        <span fxFlex="none" ></span>
      </div>
    </div>
    <div class="dynamicBorder" [@dynamicTabVerticalSlide]="this.currentTab['id']"></div>
  </div>

  <div *ngFor="let cardDatum of cardData">
    <div class="tabcontent" id="{{cardDatum.id}}" [@verticalTabContentFadeIn]="this.tabs[cardDatum.id]['isShow']">
      <mat-card class="tabcontent" id="{{cardDatum.id}}" elevateOnHover class="card-container" >

        <!-- Right -->
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"> 
            <img src="{{cardDatum.imgPath}}" alt="Photo of a Shiba Inu" width=40 height=40> 
          </div>
          <mat-card-title>{{cardDatum.position}} @ {{cardDatum.title}}</mat-card-title>
          <mat-card-subtitle>{{cardDatum.subTitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
          <p *ngFor="let bulletpoint of cardDatum.description">
           {{bulletpoint}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
</div>
