.card-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.column-left {
  display:flex;
  /* flex: 1 1 1px; */
  padding:12px 12px 12px 12px;
  justify-content: center;
  align-items: center;
}

.column-left > .mat-card-image {
  /* margin: 0 0 0 0; */
  width:60px;
  height:60px;
  margin: 12px 24px 12px 12px;
  object-fit: scale-down;
}

.column-right {
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  /*flex: 1 1 100px; */
  padding:12px 12px 12px 24px;
}

mat-card-avatar {
  width:60px;
  height:60px;
  object-fit: scale-down;
}