<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center" fxLayout="row wrap">
  <mat-card *ngFor="let cardDatum of cardData" class="card-container" fxFlex="49%" fxFlex.xs="100%" >

    <!-- Right -->
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"> 
        <img src="{{cardDatum.imgPath}}" alt="Photo of a Shiba Inu" width=40 height=40> 
      </div>
      <mat-card-title>{{cardDatum.title}}</mat-card-title>
      <mat-card-subtitle>{{cardDatum.subTitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
       {{cardDatum.description}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
