<div deferLoad (deferLoad)="loadParallax($event)">
  <div [@revealParallax]="parallaxShow"> 
    <div class="parallax-bg" [style.height.px]="parallaxHeight">
      <div class="parallax-caption">
        <h3 class="mat-headline2 top-caption" fasttext  testInput="testInput"> 
                Hi, I'm
        </h3>
        <h1 class="mat-headline1 bottom-caption" fasttext> 
                - Q KIM -
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Left -->
  <div class="left-column"></div>

  <!-- Center -->
  <div class="content-column">

    <!-- Section: About Me -->
    <div revealOnScroll [index]="visibleSections[0].id" (showSection)="displayEmitterResults($event)">
      <div class="section" [@sectionState2]="visibleSections[0].show">
          <h1 class="mat-title">Background</h1>
          <p class="mat-body-1"> I'm currently a Software Engineer based in United States, Jersey City, building things for the private cloud with an amazing team. </p>

          <p class="mat-body-1"> Whether its website, a microcontroller project, or the cloud, I enjoy solving problems and building things. To make that happen, I'm constantly striving to learn new languages and master them.

          </p>
          <p class="mat-body-1"> When I'm away, I'm probably finding stocks to invest in, performing HIIT workouts, or crossing off another todo item in my bucket list. </p>
      </div>
    </div>

    <!-- Section: Resume -->
    <div revealOnScroll [index]="visibleSections[1].id" (showSection)="displayEmitterResults($event)">
      <div class="section" [@sectionState2]="visibleSections[1].show">
        <h1 class="mat-display-1">Here's what I've done so far</h1>
        <app-featcard *ngFor="let card of cards" [cardData]=card> </app-featcard>
      </div>
    </div>

    <!-- Section: Skills -->
    <div revealOnScroll [index]="visibleSections[2].id" (showSection)="displayEmitterResults($event)">
        <div class="section" [@sectionState2]="visibleSections[2].show">
          <h1 class="mat-title">Skills</h1>
          <div class="row">
            <div class="column-25">
              <div class="row-25"> 
                <mat-icon>keyboard</mat-icon> 
               <h3 class="mat-subheading-2">Languages </h3>
              </div> 
              <mat-list dense>
                <mat-list-item *ngFor="let language of languages">
                  <p class="mat-body-1"> {{language}} </p>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="column-25">
              <div class="row-25"> 
                <mat-icon>code</mat-icon> 
                <h3 class="mat-subheading-2"> Frameworks </h3> 
              </div> 
              <mat-list dense>
                <a mat-list-item *ngFor="let framework of frameworks">
                  <p class="mat-body-1"> {{framework}} </p>
                </a>
              </mat-list>
            </div>
            <div class="column-25">
              <div class="row-25"> 
                <mat-icon>laptop</mat-icon> 
                <h3 class="mat-subheading-2"> Tools </h3> 
              </div> 
              <mat-list dense>
                <a mat-list-item routerLink="." *ngFor="let tool of tools">
                   <p class="mat-body-1"> {{tool}} </p>
                </a>
              </mat-list>
            </div>
            <div class="column-25">
              <div class="row-25"> 
                <mat-icon>storage</mat-icon> 
                <h3 class="mat-subheading-2"> Databases </h3> 
              </div> 
              <mat-list dense>
                <a mat-list-item routerLink="." *ngFor="let database of databases">
                  <p class="mat-body-1"> {{database}} </p>
                </a>
              </mat-list>
            </div>
          </div>
        </div>
    </div>
    <!-- Section: Blog, do this last -->
    <div revealOnScroll [index]="visibleSections[3].id" (showSection)="displayEmitterResults($event)">
      <div class="section" [@sectionState2]="visibleSections[3].show">
          <h1 class="mat-headline">Lets Connect</h1>
          <h2 class="mat-body-1">Feel free to reach out to me. LinkedIn or Email best.</h2>
      </div>
    </div>
  </div>

  <!-- right -->
  <div class="right-column"></div>
</div>
