<div class="content-container">
  <div class="parallax-bg">
    <div class="parallax-caption">
      <h3 class="mat-headline2 top-caption" fasttext> 
              Hi, I'm
      </h3>
      <h1 class="mat-headline1 bottom-caption" fasttext> 
              - Q KIM -
      </h1>
    </div>
  </div>


  <div class="row">
    <!-- Left -->
    <div class="left-column"></div>

    <!-- Center -->
    <div class="content-column">
      <!-- Section: About Me -->
      <div class="section-dark">
        <div>
          <h1 class="mat-display-1">A Stateless Developer</h1>
          <h2 class="mat-h2"> I'm currently a Software Engineer based in the United States, Jersey City, building things for the private cloud. In my own free time, I like to tinker around with IoT projects (Arduino, Raspberry Pi) or working on this Website</h2>
          <h2 class="mat-h2"> </h2>

          <h2 class="mat-h2"> When I'm not in "Development mode", I'm probably sipping beer while studying the stockmarket, performing HIIT workouts, tinkering with microcontrollers, or crossing off another todo item in my bucket list. </h2>
        </div>
      </div>

      <!-- Skills: About me -->
      <div class="section-light">
        <div class="row">
          <div class="column">
            <h3 class="mat-h3"> Languages </h3>

              <mat-nav-list>
                <a mat-list-item routerLink="." *ngFor="let language of languages">{{language}}</a>
              </mat-nav-list>
          </div>
          <div class="column">
            <h3 class="mat-h3"> Frameworks </h3>
            <mat-nav-list>
              <a mat-list-item routerLink="." *ngFor="let framework of frameworks">{{framework}}</a>
            </mat-nav-list>

          </div>
          <div class="column">
            <h3 class="mat-h3"> Tools </h3>
            <mat-nav-list>
              <a mat-list-item routerLink="." *ngFor="let tool of tools">{{tool}}</a>
            </mat-nav-list>
          </div>
          <div class="column">
            <h3 class="mat-h3"> Databases </h3>
            <mat-nav-list>
              <a mat-list-item routerLink="." *ngFor="let database of databases">{{database}}</a>
            </mat-nav-list>
          </div>
        </div>
      </div>

      <!-- Section: Resume -->
      <div class="section-dark">
        <div>
          <h1 class="mat-display-1">A Stateless Developer</h1>
          <h2 class="mat-h2"> I'm currently a Software Engineer based in the United States, Jersey City, building things for the private cloud. In my own free time, I like to tinker around with IoT projects (Arduino, Raspberry Pi) or working on this Website</h2>
          <h2 class="mat-h2"> </h2>

          <h2 class="mat-h2"> When I'm not in "Development mode", I'm probably sipping beer while studying the stockmarket, performing HIIT workouts, or crossing off another todo item in my bucket list. </h2>
        </div>
      </div>

      <!-- Section: Job Experience -->

      <!-- Section: Projects -->
      <div class="section-dark">
        <div>
          <h1 class="mat-display-1">Here's what I've done so far</h1>
          <h2 class="mat-h2">Some of my work</h2>
        </div>
      </div>



      <!-- Section: Blog , do this last -->
      <div class="section-light">
        <div>
          <h1 class="mat-display-1">Lets Connect</h1>
          <h2 class="mat-h2">I'm interested in chatting about , feel free to connect with me on any of the social platforms below.</h2>
        </div>
      </div>
    </div>

    <div class="right-column"></div>
  </div>
</div>
