@import '../../../themes.scss';

.mat-toolbar {
	padding: 12px;
    font-size: 12px;
}

.footer-list {
	align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
}

.footer-list-item {
	flex: 1;
}

.mat-toolbar.mat-primary {
  //background: mat-color($light-primary, darker);
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-header {
  //padding: 0px 16px;
}