<div color="primary">
  <div class="footer-list">
    <div class="footer-list-item">
      <p class="mat-body-1">
        Designed and developed by <br> 
        Q Kim 2018
      </p>
    </div>

    <div class="footer-list-item">
      <p class="mat-header">
        Current Version 1.0.0
      </p>
    </div>
    
    <!-- This fills the remaining space of the current row -->
    <div class="footer-list-item">
      <p class="mat-header">
        Email
      </p>
      <p class="mat-header">
        Linkedin
      </p>
      <p class="mat-header">
        Github
      </p>
    </div>
  </div>
</div>