<div class="footer-container">   
    <!-- This fills the remaining space of the current row -->
    <div class="footer-top">
        <div class="footer-top-text">
          <span class="mat-body-1" href="https://github.com/bigboii/yqblog2">
              Built by Kyu Kim © 2019
          </span>
        </div>
      <div class="footer-top-logos">
          <a href="www.linkedin.com/in/yqkim">
            <img class="linkedin_img" [src]="'/assets/imgs/linkedin/LI-In-Bug.png'">
          </a>
          <a href="https://github.com/bigboii/yqblog2">
            <img class="github_img" [src]="'/assets/imgs/github/GitHub-Mark-32px.png'">
          </a>
      </div>
    </div>

    <!-- <div class="footer-bottom">
      <span class="mat-body-1">
          © 2019 Copyright:
          <a href="">  </a>
      </span>
    </div> -->
</div>