@import '~@angular/material/_theming';
$config: mat-typography-config();

$some-other-color: mat-palette($mat-red, 700, 100, 800);

.content-wrapper {
  width: 100%;
  min-height: 100%;
  margin:auto;
}

/* --------------------------------------------*/
/* ------------ Router Layout -----------------*/
/* --------------------------------------------*/

/* Create four equal columns that sits next to each other */
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.outlet-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
}

/deep/ router-outlet~* {
  position: absolute;
  width:960px;
  top:0;
}

app-footer {
  position:absolute;
  width:100%;
}

.column {
  display: flex;
  flex-direction: column;
}


/* Content underneath parallax */

/*
.left-column {
  flex:25%;
}

.content-column
{
  display:flex;
  flex-direction:column;
  height:100%;
}

.right-column {
  flex:25%;
}
*/


/* --------------------------------------------*/
/* ------------ Sidenav Layout ----------------*/
/* --------------------------------------------*/
/* Column Container */

.drawer-container {
  flex:1;
  /* needed to push content down */
  /*top: 64px;  */
}

/* Set width of sidenav */
.drawer {
  width:256px;
}

.drawer mat-icon {
  padding: 4px 4px;
}

.row-sidenav-item {
  display: flex;
  flex-direction: row; 

  align-items: center; 
  text-align: center;
}

.row-sidenav-item > mat-icon {
  padding-right:4px;
  margin-right:8px;
}



/* --------------------------------------------*/
/* ------------ Parallax ----------------------*/
/* --------------------------------------------*/
/* Grey + Blurred Background Image */
.parallax-bg
{
  position: relative;
  display: flex;
  justify-content:center;
  align-items:center;
  z-index:1;
  width: 100%; 
  /*min-height: calc(100vh);*/
  /* parallax height is set by content.component.ts */

  background-image: url("/assets/imgs/parallax.jpg");
  background-attachment:fixed;                     /* parallax effect */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  
  /* Pull the background 70px higher to the same as .parallax's */

}

/* Put this on top of the blurred background layer */


.parallax-caption
{
  
  max-width: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    padding: 150px 0px;
}

.parallax-caption2
{
  /* Place above z-index 99 */
  position:absolute;
  top:calc(50vh - 32px - 154px);     /* toolbar_height/2 - fastText_height/2 */
  left: 0;
  width:100%;
  text-align: center;
  z-index:2;
  color: white;
}

.parallax-caption .top-caption {
  margin-bottom: 0;
  font-size:16px;
  font-style:bold;
  color:mat-color($some-other-color);
}

.parallax-caption .middle-caption {
  margin-bottom: 0;
  font-size:80px;
  font-style:bold;
  color: rgb(230, 241, 255);
}

.parallax-caption .bottom-caption {
    font-size:16px;
    margin-top: 25px;
    /* width: 50%; */ 
    max-width: 500px;
    color:rgb(136, 146, 176);
}

.parallax-caption .middle-caption2 {
  text-align: center;
  margin-bottom: 0;
  font-size:mat-font-size($config, display-2);
  font-style:italic;
}




