/*
.content-wrapper {
  
  width: 100%;
  min-height: 100%;
  //margin:auto;
  //display: flex;
 // flex-direction: column;
}
*/

app-footer {
  position:sticky; 
  top:0;
  z-index: 999999; 
  bottom:auto;
}

/* --------------------------------------------*/
/* ------------ Router Layout -----------------*/
/* --------------------------------------------*/


/* Create four equal columns that sits next to each other */

/*
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
*/


.outlet-wrapper {
  position: relative;
  //display: flex;           //replaced by fxFlex
  //flex-direction: column;  //replaced by fxLayout = column
  align-items:center;
}


::ng-deep .outlet-parallax~* {
  //position: absolute;        //uncomment to add animation
  width:100%;
  height:800px;
  top:0;
}



::ng-deep router-outlet~* {
  //position: absolute;        //uncomment to add animation
  //width:960px;
  width:100%;
  top:0;
}

/*
app-footer {
  width:100%;
}

.column {
  display: flex;
  flex-direction: column;
}
*/