  <!--The content below is only a placeholder and can be replaced.-->
  <!-- https://stackblitz.com/edit/angular-flex-layout-seed-oyjh2z?file=app%2Fapp.component.ts -->
<!-- <div [style.height.px]="contentHeight"> -->

  <div fxLayout="column" >

    <!--
    <router-outlet name="parallax" class="mat-elevation-z1 outlet-parallax"></router-outlet>  
    -->

    <!-- content -->
    <div fxLayout="column" class="outlet-wrapper mat-elevation-z2">
      
      <!-- Center, NOTE: #outletContent="outlet" is property of router-outlet -->
      <router-outlet #outletContent="outlet" class="mat-elevation-z1 outlet-main"></router-outlet>
    </div>
    
    <!-- [footerPosition]="routerHeight" -->
    <app-footer [style.top]="routerHeight"></app-footer>
  </div>
<!-- </div> -->
