  <!--The content below is only a placeholder and can be replaced.-->
  <!-- https://stackblitz.com/edit/angular-flex-layout-seed-oyjh2z?file=app%2Fapp.component.ts -->
<!-- <div [style.height.px]="contentHeight"> -->

  <div fxFill fxLayout="column">

    <app-header [logoPath]=logoPath></app-header>
    <!-- content -->
    <!-- <div class="outlet-wrapper mat-elevation-z2"> -->
      
      <!-- Center, NOTE: #outletContent="outlet" is property of router-outlet -->
    <div fxFlex fxLayout="column">
      <router-outlet #outletContent="outlet" class="mat-elevation-z1 router-flex"></router-outlet>
    </div>
    <!-- </div> -->
    
    <!-- [footerPosition]="routerHeight" -->
    <app-footer [style.top]="routerHeight"></app-footer>
  </div>
<!-- </div> -->
