@import '~@angular/material/_theming';

// Define a custom mixin that takes in the current theme
@mixin set-theme-header($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // Create theme specfic styles
  .primaryColorBG {
    background-color: mat-color($primary);
  }
  .accentColorBG {
    background-color: mat-color($accent);
  }
  .warnColorBG {
    background-color: mat-color($warn);
  }

  .mat-toolbar.header-toolbar {
    background-color: mat-color($primary, darker);
    color:mat-color($primary, 50);
    @include mat-elevation-transition;
  }

  
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}



.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-toolbar > img {
  padding: 0 0 0 16px;
  width:initial;  //default width of this image
}

mat-icon {
    padding: 0 16px;
    width:initial;  //default width of this image
}