<mat-toolbar color="primary" [ngClass]="{ 'mat-elevation-z8' : isElevated}">
  <button mat-icon-button [class.active]="toggleActive" (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
    <img [src]="logoPath" width="48px" height="48px">

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <mat-icon>brightness_high</mat-icon>
  <mat-slide-toggle
        [color]="color"
        [checked]="checked"
        [disabled]="disabled"
        (click)="toggleNightmode()">
  </mat-slide-toggle>
  <mat-icon>brightness_3</mat-icon>
</mat-toolbar>