<mat-toolbar color="primary" [ngClass]="{ 'mat-elevation-z8' : isElevated}"> 
  <button mat-icon-button [class.active]="toggleActive" (click)="toggleSidenav()">
    <mat-icon color="accent" [@fadeIn] >menu</mat-icon>
  </button>
    <img [src]="logoPath" width="48px" height="48px" [@fadeIn] > <!-- [@slideDownFadeIn]="{value: state, params:{initialDelay: 0.4}}" -->

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <mat-icon color="accent" [@slideDownFadeIn]="{value: state, params:{initialDelay: 0.2}}">brightness_high</mat-icon>
  <mat-slide-toggle
        [color]="color"
        [checked]="checked"
        [disabled]="disabled"
        (click)="toggleNightmode()"
        [@slideDownFadeIn]="{value: state, params:{initialDelay: 0.4}}">
  </mat-slide-toggle>
  <mat-icon color="accent" [@slideDownFadeIn]="{value: state, params:{initialDelay: 0.6}}">brightness_3</mat-icon>
</mat-toolbar>