.chat-container {
  position:fixed;
  bottom: 0;
  right: 50px;

  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

.chatbar {
  background:red;
  width: 276px;
  height:29px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chatconsole {
  width: 276px;
}

/* center icons */

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}