<div class="chat-container">
  <div class="chatbar">
    <div class='caption'> Chat </div>
    <span class="fill-remaining-space"></span>
    <mat-icon (click)="open()">chat</mat-icon> 
    <mat-icon (click)="close()">close</mat-icon>
  <div>
  <div class="chatconsole" *ngIf='show'>
    This is Chat View This is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat ViewThis is Chat View
  <div>
</div>
