<div class="ml-container" fxFlex="1 1 initial" fxLayout="column">

    <h4> 1. Select Classifier </h4>
    <mat-form-field>
        <mat-label> Select a Classifier </mat-label>
        <mat-select [(value)]="currClassifier"> 
            <mat-option *ngFor="let classifier of classifiers" [value]="classifier.value">
                {{classifier.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <p>You selected: {{currClassifier}} </p>

    <!-- File Drop Zone  -->
    <h4> 2. Input Training Label </h4>

    <h5> Or use datasets from UCI machine learning repository </h5>
    <h6> Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science. </h6>
    <mat-form-field>
        <mat-label> Select sample UCI dataset</mat-label>
        <mat-select [(value)]="currClassifier"> 
            <mat-option *ngFor="let UCIDataSet of UCIDataSets" [value]="UCIDataSet.value">
                {{UCIDataSet.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <div fxLayout="row" fxLayout.xs="column" class="formContainer">
        <div class="trainingContainer" fxLayout="column" fxFlex>
            <mat-form-field fxFlex class="formItem" dragDrop (onFileDropped)="uploadFile($event)">
                <!-- <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)"> -->
                <mat-label> Training Labels </mat-label>
                <textarea matInput type="text" [formControl]="trainingLabelInputForm" (change)="uploadFile($event.target.files)" required> </textarea>
                <mat-error>This field is required</mat-error>
                <mat-hint>Please enter a set of training labels</mat-hint>
            </mat-form-field>
            <div *ngIf="trainingLabelName" class="files-list">
                <span> {{ trainingLabelName }} </span>
                <button class="delete-file" (click)="deleteTrainingLabel()">
                    <img src= "../../../assets/material-design-icons-3.0.1/content/ios/ic_delete_sweep_white_48pt.imageset/ic_delete_sweep_white_48pt.png">
                </button>
            </div>
        </div>

        <div class="dataContainer" fxLayout="column" fxFlex>
            <mat-form-field fxFlex class="formItem" dragDrop (onFileDropped)="uploadFile($event)">
                <!-- <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)"> -->
                <mat-label> Data Sets </mat-label>
                <textarea matInput type="text" [formControl]="dataSetInputForm" (change)="uploadFile($event.target.files)" required> </textarea>
                <mat-error>This field is required</mat-error>
                <mat-hint>Please enter data set</mat-hint>
            </mat-form-field>
            <div *ngIf="dataSetName" class="files-list">
                <span> {{ dataSetName }} </span>
                <button class="delete-file" (click)="deleteDataSet()">
                    <img src= "../../../assets/material-design-icons-3.0.1/content/ios/ic_delete_sweep_white_48pt.imageset/ic_delete_sweep_white_48pt.png">
                </button>
            </div>
        </div>
    </div>


    <!-- Console Log for ml progress -->
    <h4> 3. Output </h4>
    <div class="outputContainer">
        <p> w : {{w}}</p>
        <p> Distance to plane of origin : {{distanceToPlaneOfOrigin}} </p>
        <p> predictions: </p>
        <ul>
            <li *ngFor="let prediction of testValue.data"> {{prediction}} </li>
        </ul>
        <div *ngIf="testValue"> 
            <p *ngFor="let data of testValue.data"> {{data}} </p>

        </div>
    </div>

    <button class="mat-button" (click)="testConnectionWithServer()"> Test Connection </button>
    <button class="mat-button" (click)="processClassifier()"> Process Classifier </button>
    
    <p> </p>
    

</div>