/* Section: About */
/* Column Container */

.drawer-container {
  top:64px;
  width: 100%;
}

.drawer {
  width:336px;
}

/* If the browser window is smaller than 699px */
@media only screen and (max-width:699px)
{
  /* Custom Sidenav size*/
  .drawer
  {
    min-width: 200px !important;
    width: 50vw !important;
    max-width: 200px !important;
  }

  .drawer-container {
    top:56px;
  }
}