/* Section: About */
/* Column Container */

.drawer-container {
  flex:1;
  /* needed to push content down */
  /*top: 64px;  */
}

/* Set width of sidenav */
.drawer {
  width:256px;
}

.drawer mat-icon {
  padding: 4px 4px;
}

.row-sidenav-item {
  display: flex;
  flex-direction: row; 

  align-items: center; 
  text-align: center;
}

.row-sidenav-item > mat-icon {
  padding-right:4px;
  margin-right:8px;
}
