@import '~@angular/material/_theming';

$config: mat-typography-config();

// Define a custom mixin that takes in the current theme
@mixin set-theme-home($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  // Create theme specfic styles
  .primaryColorBG {
    background-color: mat-color($primary);
  }
  .accentColorBG {
    background-color: mat-color($accent);
  }
  .warnColorBG {
    background-color: mat-color($warn);
  }

  // .mat-display-1 { 
  //   color:mat-color($accent);
  // }

  section > .mat-title
  {
    color: mat-color($accent);
  }

  section > .mat-headline
  {
    color: mat-color($accent);
  }

  section > .mat-display-1
  {
    color: mat-color($accent);
  }

  /*
    arrow bullet point
  */
  mat-list-item p::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: mat-color($accent);
    font-size: 14px;
    // line-height: 60px;
  }

  /**
    Common Heading
  **/
  .heading {
      position: relative;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;
      white-space: nowrap;
      // font-size: 32px;      //TODO: dynamic font sizes? based on screen size
      margin: 10px 0px 40px;   //TODO: causing issue with mobile screen sizes

      // @media screen and (min-width: 400px) {   //ultra small
      //   padding: 0px 25px;
      //         font-size: 24px;         //TODO: causing issue with mobile screen sizes
      //   margin: 10px 0px 40px;   //TODO: causing issue with mobile screen sizes

      // }
      // @media screen and (min-width: 600px) {   //small
      //   padding: 0px 50px;
      // }
      // @media screen and (min-width: 1200px) {  //medium
      //   padding: 0px 100px;
      // }
      // @media screen and (min-width: 1600px) {  //large
      //   padding: 0px 150px;
      //         font-size: 32px;         //TODO: causing issue with mobile screen sizes
      // margin: 10px 0px 40px;   //TODO: causing issue with mobile screen sizes

      // }
  }

  .heading::before{
    counter-increment: heading-count;
    content: "0" counter(heading-count) ".";
    margin-right: 10px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    color: mat-color($primary);
    font-size: 20px;
    position: relative;
    box-sizing: inherit;
  }

  .heading::after {
      content: "";
      display: block;
      height: 1px;
      width: 300px;
      background-color: mat-color($foreground, text);
      position: relative;
      margin-left: 20px;
      box-sizing: inherit;
  }

  // h1, h2, h3, h4, h5 {
  //     font-weight: 600;
  //     color: rgb(230, 241, 255);
  //     margin: 0px 0px 10px;
  // }

}

.root-container {
  width: 100%;
  height: 100%;
}

.home {
  counter-reset: heading-count;  //creates a counter
}

parallax-home {
  width:100%;
}

/* Left Center Right columning */

/* Create four equal columns that sits next to each other */

.container {
  width: 100%;
  // margin: 0px auto;
  // box-sizing:border-box;

  @media screen and (max-width: 600px) {   //ultra small
    padding: 0px 25px;
  }
  @media only screen and (min-width: 600px) {
    padding: 0px 50px;
  }
  @media screen and (min-width: 768px) {   //small
    padding: 0px 50px;
  }
  @media screen and (min-width: 1200px) {   //medium
    padding: 0px 150px;
  }
}

/* Section: About */
section {
    width:100%;
    position: relative;
    display:block;     //starts on a new line and strech out to the left and right as far as it can.
    margin: 0px auto;
    // box-sizing:inherit;  //inherit box sizing from .container
    max-width:1000px;
    // flex: 1 1 auto;    //prevent horizontal overflow; positive flex shrink; allow auto width to shrink
    @media screen and (min-width: 400px) {   //ultra small
      padding: 100px 0px;
    }
    @media screen and (min-width: 1600px) {  //large
      padding: 150px 0px;
    }
}

app-vertical-tabs {
  @media screen and (min-width: 400px) {   //ultra small
    display:none;
  }
  @media screen and (min-width: 1200px) {  //large
    display:initial;
  }
}

// section .about {
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-start;
// }

.about-container {
  // flex: 1 1 auto;    //prevent horizontal overflow; positive flex shrink; allow auto width to shrink
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: flex-start;
  box-sizing:border-box;
}

.about-container-content {
  
  max-width: 480px;
  @media screen and (min-width: 400px) {   //ultra small
    width:100%;
  }
  @media screen and (min-width: 1600px) {  //large
    width:60%;
  }
}

.about-container-pic {
  position: relative;
  width: 40%;
  height:auto;
  max-width: 300px;
  // margin-top: 22px;
  border-radius:3px;

  @media screen and (min-width: 400px) {   //ultra small
    width:100%;
    margin: 0px auto;
    padding-top: 25px;
  }
  @media screen and (min-width: 1600px) {  //large
    width:60%;
    margin-left: 60px;
  }

  a {
    filter: grayscale(100%) contrast(1);
    color: rgb(100, 255, 218);
    transition: opacity 500ms ease 0s;

    &:hover {
      color: rgb(0, 0, 0);
      filter: none;
    }

    img.avator-pic::before {
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgb(10, 25, 47);
      mix-blend-mode: screen;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }
    img.avator-pic::after {
      top: 20px;
      left: 20px;
      z-index: -1;
      border-width: 2px;
      border-style: solid;
      border-color: rgb(100, 255, 218);
      border-image: initial;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }
  } 
}
// .about-container-pic img {
//   width:100%;
// }


.avatar-pic
{
  // position: absolute;
  // top: 0px;
  // left: 0px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}


/*
  Section: Projects
*/
.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;

}

.cardList >*:not(:last-child) {
  margin-right:32px;
  margin-bottom:32px;

}

.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

.cardListItem > .mat-card {
  @include mat-elevation-transition;
  @include mat-elevation(4);

  &:hover {
    @include mat-elevation(8);
  }
}



/* General */

/* Section: Skills */
.section > mat-list {
  display: inline-block;
}

/* List Item Height */
.mat-list .mat-list-item {
  height: 30px; /* default is 72px */
}


p {
  margin: 0px 0px 15px;
}