<div fxFlex fxLayout="column">

  <parallax-home></parallax-home> 

  <div class="home container" fxFlex="1 1 auto">

    <!-- Section: About Me -->
    <div revealOnScroll [index]="this.visibleSections[0].id" (showSection)="displayEmitterResults($event)" [@sectionState]="visibleSections[0].show">
            
      <section class="about" fxFlex fxLayout="column" [ngStyle]="">
        
        <h1 class="mat-display-1 heading">Background</h1>

        <div class="about-container" fxFlex fxLayout="row">
          <div class="about-content-container"fxFlex fxLayout="column">
            <p class="mat-body-1"> I'm currently a Software Engineer based in the United States, Jersey City and I spent the last few years developing Bank of America's enterprise private cloud platform. I develop and maintain Bank of America's cloud infrastructure through microservices and automation. </p>

            <p class="mat-body-1"> I don't just code for work. Whether its a web application, a microcontroller project, o, I enjoy solving problems using code. To make that happen, I'm constantly striving to learn skills and master them.
            </p>

            <p class="mat-body-1"> Heres a few technologies I've been working with recently: </p>

            <!-- Section: Skills -->
            <div class="row">
              <div class="column-25">
                <mat-list dense>
                  <mat-list-item *ngFor="let language of languages">
                    <p class="mat-body-1"> {{language}} </p>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="column-25">
                <mat-list dense>
                  <mat-list-item *ngFor="let framework of frameworks">
                    <p class="mat-body-1"> {{framework}} </p>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
          <div class="about-pic-container">
            <a>
              <img class="avatar-pic" alt="Avator" [src]="'/assets/imgs/parallax_small.jpg'">
            </a>
          </div>
        </div>
      </section>
    </div>



    <!-- Section: Resume -->
    <div revealOnScroll [index]="visibleSections[1].id" (showSection)="displayEmitterResults($event)" [@sectionState]="visibleSections[1].show">
      <section class="section">
        <h1 class="mat-display-1 heading">Here's what I've done so far</h1>

        <app-featcard [cardData]=cards> </app-featcard>
      </section>
    </div>

  <div class="tabs-container">
    <div id="content">
      <div id="main-content">
        <mat-tab-group >
          <mat-tab label="Tab One">
            Tab One Content
          </mat-tab>
          <mat-tab label="Tab Two">
            Tab Two Content
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <div class="vertical-tab-group">
    <div>
    </div>
  </div>



    <!-- Section: Blog, do this last -->
    <div revealOnScroll [index]="visibleSections[2].id" [@sectionState]="visibleSections[2].show" (showSection)="displayEmitterResults($event)">
      <section class="section">
          <h1 class="mat-display-1 heading">Lets Connect</h1>
          <h2 class="mat-body-1">Feel free to reach out to me. LinkedIn or Email best.</h2>
      </section>
    </div>

  </div>
</div>