<div fxLayout="column" class="root-container">

  <parallax-home></parallax-home> 

  <div class="home container">

    <!-- Section: About Me -->
    <!-- <div revealOnScroll [index]="this.visibleSections[0].id" (showSection)="displayEmitterResults($event)" [@sectionState]="visibleSections[0].show"> -->
      <section class="about" fxLayout="column" revealOnScroll [index]="this.visibleSections[0].id" (showSection)="displayEmitterResults($event)" [@sectionState]="visibleSections[0].show">
        <h1 class="mat-display-1 heading">About Me</h1>
        <div class="about-container" fxLayout="row" fxLayout.xs="column">
          <div class="about-container-content" fxLayout="column">
            <p class="mat-body-1"> I'm currently a Software Engineer based in the United States, Jersey City and I spent the last few years developing Bank of America's Private Cloud Platform. </p>

            <p class="mat-body-1"> I've gained hands on experience in developing large scale backend applications using a microservice architecture (inspired by Netflix); sometimes, a large complex problem can be be easily solved, developed, tested, and maintained when split into smaller fine-grained functions that are working together. </p>

            <p class="mat-body-1"> I've recently delved my hands in to front end development, which led me to building this blog. I plan on regularly posting projects and blog articles here.</p>

            <p class="mat-body-1"> Heres a few technologies I've been working with recently: </p>

            <!-- Section: Skills -->
            <div fxLayout="row" fxLayout.xs="column">
              <div fxLayout="column">
                <mat-list dense>
                  <mat-list-item *ngFor="let language of languages">
                    <p class="mat-body-1"> {{language}} </p>
                  </mat-list-item>
                </mat-list>
              </div>
              <div fxLayout="column">
                <mat-list dense>
                  <mat-list-item *ngFor="let technology of technologies">
                    <p class="mat-body-1"> {{technology}} </p>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
          <div class="about-container-pic">
            <a>
              <img class="avatar-pic" alt="Avator" [src]="'/assets/imgs/parallax_small.jpg'">
            </a>
          </div>
        </div>
      </section>
    <!-- </div>     -->

    <!-- Section: Resume -->
    <div revealOnScroll [index]="visibleSections[1].id" (showSection)="displayEmitterResults($event)" [@sectionState]="visibleSections[1].show">
      <section class="section">
        <h1 class="mat-display-1 heading">Where I've worked</h1>

        <app-vertical-tabs [cardData]=cards> </app-vertical-tabs>
      </section>
    </div>

    <!-- Section: What am I currently working on? -->
    <div revealOnScroll [index]="visibleSections[2].id" (showSection)="displayEmitterResults($event)" [@sectionState]="visibleSections[2].show">
        <section class="section">
          <h1 class="mat-display-1 heading">What I've built</h1>
  
          <p class="mat-body-1"> As previously mentioned, I like to build things which I will be regularly posting here.
            </p>
        </section>
      </div>


    <!-- Section: Blog, do this last -->
    <div revealOnScroll [index]="visibleSections[3].id" [@sectionState]="visibleSections[3].show" (showSection)="displayEmitterResults($event)">
      <section class="section">
          <h1 class="mat-display-1 heading">Lets Connect</h1>
          <h2 class="mat-body-1">Feel free to reach out to me. LinkedIn or Email best.</h2>
      </section>
    </div>

  </div>
</div>