<!-- Section: About Me -->
<div revealOnScroll [index]="visibleSections[0].id" (showSection)="displayEmitterResults($event)">
  <div class="section about" [@sectionState2]="visibleSections[0].show">
    <div class="about-content-container">
      <h1 class="mat-display-1">Background</h1>
      <p class="mat-body-1"> I'm currently a Software Engineer based in the United States, Jersey City, building things for the private cloud with an amazing team. I'm develop and maintain Bank of America's cloud infrastructure through microservices and automation. </p>

      <p class="mat-body-1"> I don't just code for work. Whether its a website, an application, or a microcontroller project, I enjoy solving problems using code. To make that happen, I'm constantly striving to learn new languages and master them.
      </p>

      <p class="mat-body-1"> Heres a few things I'm experienced with: </p>

      <!-- Section: Skills -->
      <div revealOnScroll [index]="visibleSections[2].id" (showSection)="displayEmitterResults($event)">
        <div class="row">
          <div class="column-25">
            <div class="row-25"> 
            </div> 
            <mat-list dense>
              <mat-list-item *ngFor="let language of languages">
                <div class="arrow">
                  <p class="mat-body-1"> {{language}} </p>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="column-25">
            <div class="row-25"> 
            </div> 
            <mat-list dense>
              <a mat-list-item *ngFor="let framework of frameworks">
                <p class="mat-body-1"> {{framework}} </p>
              </a>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
    <div class="about-pic-container">
      <img class="avatar-pic" alt="Avator" src="/assets/imgs/parallax.jpg">
    </div>
  </div>
</div>


<!-- Section: Resume -->
<div revealOnScroll [index]="visibleSections[1].id" (showSection)="displayEmitterResults($event)">
  <div class="section" [@sectionState2]="visibleSections[1].show">
    <h1 class="mat-display-1">Here's what I've done so far</h1>

    <app-featcard [cardData]=cards> </app-featcard>
  </div>
</div>


<!-- Section: Blog, do this last -->
<div revealOnScroll [index]="visibleSections[3].id" (showSection)="displayEmitterResults($event)">
  <div class="section" [@sectionState2]="visibleSections[3].show">
      <h1 class="mat-display-1">Lets Connect</h1>
      <h2 class="mat-body-1">Feel free to reach out to me. LinkedIn or Email best.</h2>
  </div>
</div>
