/* You can add global styles to this file, and also import other style files */
@import url("./assets/animate/animate.min.css");
@import '~@angular/material/_theming';

//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

//@import './themes.scss';  //  <-- the theme file shown above


html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: 'Roboto', sans-serif; 
  width:100%;
  min-height:100%;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'Ubuntu Mono', monospace;
  src: url('/assets/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf') format('truetype');
  font-weight: bold;
}