/* You can add global styles to this file, and also import other style files */
@import url("./assets/animate/animate.min.css");
@import '~@angular/material/_theming';

//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

//@import './themes.scss';  //  <-- the theme file shown above


html, body { 
  margin: 0;
  height:100%; 
  width:100%; 
}

body { 
  // min-height:100%;
}

/*
  Universal box sizing with inheritance.
  Set this to make responsive layouts more manageable
  actual width of element = width + padding + border
  actual height of element = height + padding + border

  Now all elements will include padding and border in its total width and height (this solves children's overflowing parent width issue)
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing:inherit;
}

//prevent large gaps between consecutive paragraphs
p {
  margin-block-start: 0;
}

// p + p {
//   margin-block-start: 0;
// }

//Import Fonts
//Roboto
@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  src: url('/assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  src: url('/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  src: url('/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  src: url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  src: url('/assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

//Ubuntu
@font-face {
  font-family: 'Ubuntu Mono', monospace;
  src: url('/assets/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf') format('truetype');
  // font-weight: bold;
}


//RobotoMono
@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url('/assets/fonts/Roboto_Mono/RobotoMono.ttf') format('truetype');
  // font-weight: bold;
}