/* You can add global styles to this file, and also import other style files */
@import url("./assets/animate/animate.min.css");
@import '~@angular/material/_theming';

//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

//@import './themes.scss';  //  <-- the theme file shown above


html { 
  height: 100%; 
}

body { 
  margin: 0; 
  width:100%;
  min-height:100%;
}

/*
  Universal box sizing with inheritance.
  Set this to make responsive layouts more manageable
  actual width of element = width + padding + border
  actual height of element = height + padding + border

  Now all elements will include padding and border in its total width and height (this solves children's overflowing parent width issue)
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing:inherit;
}

//Import Fonts
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'Ubuntu Mono', monospace;
  src: url('/assets/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf') format('truetype');
  font-weight: bold;
}