@import '~@angular/material/_theming';
@import './app/core/header/header.component';
@import './app/core/footer/footer.component';
@import './app/app.component';
@import './app/modules/main/pages/home/content/home.component';
@import './app/modules/main/pages/home/parallax/parallax-home.component';
@import './app/modules/main/components/vertical-tabs/vertical-tabs.component';
@import './themeVars';
@include mat-core($custom-typography);
//https://github.com/angular/components/blob/master/src/lib/core/theming/_palette.scss

@mixin set-theme($theme) // define a new @mixin that will be invoked each time the theme is changed
{
  @include set-theme-header($theme);   // invoke the mixin we defined for component_1
  @include set-theme-sidenav($theme);
  @include set-theme-home($theme);
  @include set-theme-parallax($theme);
  @include set-theme-footer($theme);
  @include set-theme-vertical-tabs($theme);
  // repeat this for each component that uses theme colors
}

//Typography
// $custom-typography: mat-typography-config(
//   $font-family: Roboto,
//   $headline: mat-typography-level(32px, 36px, 900),
//   $display-1: mat-typography-level(24px, 36px, 700),
//   $body-1: mat-typography-level(16px, 24px, 400)
// );
// @include angular-material-typography($custom-typography);


// Dark theme
// $dark-primary: mat-palette($mat-red, 400, 300, 900);
// $dark-accent:  mat-palette($mat-blue, A200, A100, A400);
// $dark-warn:    mat-palette($mat-orange);
// $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// $dark-primary: mat-palette($mat-grey, 700, 800, 900);
// $dark-accent:  mat-palette($mat-red, A400, A200, A700);
// $dark-warn:    mat-palette($mat-orange);
// $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// $dark-primary: mat-palette($mat-red, 500, 400, 600);
// $dark-accent:  mat-palette($mat-indigo, A200, A100, A700);
// $dark-warn:    mat-palette($mat-orange);
// $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  // set text color
  //color: mat-color($dark-accent, default-contrast);
  //color: mat-color($dark-primary, lighter);
  //$dark-foreground: my-mat-dark-theme-foreground(mat-color($dark-accent));
  //$dark-theme: map-merge($dark-theme, (foreground: $dark-foreground));
  color: $light-primary-text;
  @include set-theme($dark-theme);
  @include angular-material-theme($dark-theme);
  // @include mat-core($custom-typography);
  font-family: "Roboto", sans-serif;
}

// Light theme
// $light-primary: mat-palette($mat-red, 500, 400, 600);
// $light-accent:  mat-palette($mat-indigo, A200, A100, A700);
// $light-warn:    mat-palette($mat-orange);
// $light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
  // Set custom background color
  //$custom-background-color: map_get($mat-red, 500);

  //$background: map-get($my-app-theme, background);
  //color: mat-color($my-app-accent, default-contrast);
  //$background: map_merge($background, (background: $custom-background-color));
  //$my-app-theme: map_merge($my-app-theme, (background: $background));

  // set text color
  // You can put any color here. I've chosen mat-color($my-app-primary, 700)
  // $my-foreground: my-mat-light-theme-foreground(mat-color($light-accent, 500));
  // $my-app-theme: map-merge($my-app-theme, (foreground: $my-foreground));
  //done

  @include set-theme($light-theme);
  @include angular-material-theme($light-theme);
  // @include mat-core($custom-typography);
  font-family: "Roboto", sans-serif;
}

