@import '~@angular/material/_theming';
@include mat-core();
@import './app/core/header/header.component';
@import './app/core/footer/footer.component';
@import './app/app.component';
@import './app/modules/main/pages/home/content/home.component';
@import './app/modules/main/pages/home/parallax/parallax-home.component';
@import './app/modules/main/components/vertical-tabs/vertical-tabs.component';

//Custom Font

//Typography
$custom-typography: mat-typography-config(
  $font-family: Roboto,
  $headline: mat-typography-level(32px, 36px, 900),
  $display-1: mat-typography-level(24px, 36px, 700),
  $body-1: mat-typography-level(16px, 24px, 400)
);

// Dark theme
$dark-primary: mat-palette($mat-red, 500, 400, 600);
$dark-accent:  mat-palette($mat-indigo, A200, A100, A700);
$dark-warn:    mat-palette($mat-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

//Light theme
$light-primary: mat-palette($mat-red, 500, 400, 600);
$light-accent:  mat-palette($mat-indigo, A200, A100, A700);
$light-warn:    mat-palette($mat-orange);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);