<div class="parallax-bg mat-elevation-z4" [style.height.px]="parallaxHeight" [@revealParallax]="parallaxShow" deferLoad (deferLoad)="loadParallax($event)"> 
  <div class="parallax-caption">
    <h3 class="mat-title" color="accent" fasttext testInput="testInput"> 
        Hi, my name is
    </h3>
    <h1 class="mat-headline" fasttext> 
        Young Kyu Kim.
    </h1>
    <p class="mat-body-1" fasttext> 
      I'm a software engineer based in Jersey City, NJ specializing in developing (and occasionaly designing) complex large scale infrastructures and distributed systems. Currently working at Bank of America as an engineer.
    </p>
  </div>
</div>